.store{
  display: flex;
  flex-wrap: wrap;
}
.bike{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 150px;
  margin-left: 40px;
  margin-top: 40px;

  border: 1px solid red;
}
.bikeInformations{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
